html {
    background-color: black;
    color: #DDD;
    text-align: center;
    font-family: sans-serif;
}
.thumbnail {
    width: 176px;
    padding: 0px;
    margin: 0px;
}
.thumbContainer {
    background-color: #333;
    display: inline-block;
    margin: 0px;
    margin-bottom: 2px;
    padding: 0px;
}
.thumbText {
    font-size: 0.7em;
    margin: -3px;
    margin-bottom: 2px;
    padding: 0px;
}
.title {
    margin-top: 0px;
    margin-bottom: 5px;
    padding: 0px;
}
a {
    text-decoration: none;
    color: white;
    padding: 0px;
    margin: 0px;
}
a:hover {
    color: lightgreen;
}
a:visited {
    color: gray;
}
video {
    width: 1280px;
}
img {
    border: 1px solid gray;
    padding: 0px;
    margin: 0px;
}
h1 {
    font-size: 1.2em;
}
